.profile-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(29, 29, 29) ;
    min-height: 80vh;
    margin: 0;
    padding: 2rem;
}

#user {
    width: 100px;
}

strong {
color: #d56b50;
}